@model ScheduleWidget.Sandbox.Models.ScheduleOccurrenceViewModel

@{
    ViewData["Title"] = "ScheduleOccurrence";
}

<h2>Schedule Occurrence</h2>

<div>
    <h3>ScheduleID @Html.DisplayFor(model => model.ScheduleID)</h3>
    <h4>Occurrence Date @Html.DisplayFor(model => model.OccurrenceDate)</h4>
</div>

<div class="regular">
    <p>This is a particular date occurrence in the schedule...</p>
</div>
